<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/style.css'>
  <script src='../static/client.js'></script>
  <!-- Add icon library -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div>
  <div class='center'>
    <div class='title'>🐻 Classify Bear Images 🐻</div>
    <p>
      Use images of <strong>teddy</strong> bears, <strong>black</strong> bears, <strong>grizzly</strong> bears, or
      all three!
    </p>
    <div class='content'>
      <div class='no-display'>
        <input id='file-input'
               class='no-display'
               type='file'
               name='file'
               accept='image/*'
               onchange='showPicked(this)'>
      </div>
      <button class='choose-file-button' type='button' onclick='showPicker()'>Select Image</button>
      <div class='upload-label'>
        <label id='upload-label'>No file chosen</label>
      </div>
      <div>
        <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
      </div>
      <div class='analyze'>
        <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analyze</button>
      </div>
      <div class='result-label'>
        <label id='result-label'></label>
      </div>
    </div>
  </div>

<!-- Add font awesome icons -->
<div class='center'>
<div class='title'>Niranjan Nakkala</div>
<a href="https://www.kaggle.com/niranjanmudhiraj">kaggle</a>
<a href="https://github.com/NiranjanMudhiraj" class="fa fa-github"></a>
<a href="https://twitter.com/NiranjanNakkala" class="fa fa-twitter"></a>
<a href="https://www.linkedin.com/in/niranjan-nakkala-7b3142b5/" class="fa fa-linkedin"></a>
<a href="https://forums.fast.ai/u/niranjanmudhiraj/activity">fastai</a>
<a href="https://medium.com/@NiranjanNakkala" class="fa fa-medium"></a>

</div>

</div>






</body>
</html>
